:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    /* padding: 0; */
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
	margin: auto;
	padding: 20px;
	background-color: #FFF;
	z-index:1;
  font-family: 'Poppins', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1..6;
  color: var(--color-black);
}

p {
  margin: 0 0 24px;
  font-size: 1rem;
  }

a {
	padding-right: 10px;
  text-decoration: none !important;
  }

.background-img{
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:-1
}
.post {
	margin-bottom: 20px;
	margin-top: 40px;
  word-wrap: break-word;
  hyphens: auto;
}

.menu{
	margin-top: 10px;
}

#middleImg{
  height: 50%;
  width: 50%;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left {
  width: 75%;
  max-width: 900px;
  background-color: white;
  margin: 50px 0px 50px auto;
  overflow: hidden;
  padding: 40px 80px;

}
.right {
  max-width: 250px;
  width: auto;
  background-color: white;
  margin: 50px 1000px 50px 0px;
  overflow: hidden;
  padding: 40px 80px;


}

.row1 {
  display: flex;
}
@media (min-width: 768px) {
    .row1 {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .row1 {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .row1 {
        width: 1170px;
    }
}
